<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css">
    <title>TD 1 Machine learning</title>
</head>
<body>
    <header>
            <h2>Page de login</h2>
            <p>TP -Flask</p>
    </header>
    <main>
        <article>
            <form>
            <div class="form-row">
                <div class="formulaire"></div>
                    
                    <div class="input-group">
                        <h2>Entrer les informations de connexion</h2>
                        
                        <label id="login">Nom d'utilisateur</label>
                        <input type="text" name="username" id="username">
                        <label id="login">Mot de passe</label>
                        <input type="text" name="password" id="password">
                        
                        <button type="button" onclick="login()">Se connecter</button>

                    </div>
                </div> 

        </form>
        <div>
            <button type="button" id="show" style="display: none">Afficher les résultats</button>
        </div>

    </main>
    <footer>
        <p>Pierre 2002-2026 </p>
    </footer>
</body>